// styles.scss

body {
    font-family: Arial, sans-serif;
  background-image: url('../../public/uploads/lio.png');
  background-size: cover;
  background-repeat: no-repeat;

  }
  .image{
     width: 150px;
     height: 150px;
    
     background-color: rgba(255, 255, 255, 0.8);
    border-radius: 75px;
    position: absolute;
    right: 3%; 
    top: 3%;
    img, p{
   width: 70%;
  
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
   
  
  }
  }
  .info{
    background-color: rgba(255, 255, 255, 0.8);
    width: 450px;
    color: black;


    border-radius: 15px;
    position: absolute;
    padding-left: 15px;
    right: 3%;
    bottom: 5%;
    p{
      i{
        color: chocolate;
        font-size: 22px;
       
        width: 32px;
        
      }
     
    }
   

  }
 
  
 h1{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    color:chocolate;
    font-size: 35px;
 
 }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 0.8);
      margin: 8px 0;
     
      border-radius: 10px;
      height: 100px;
      width: 350px;
      margin: auto;
      margin-bottom: 25px;
      position: relative;
      &:hover {
        background-color: rgba(255, 255, 255, 1);
        color:chocolate;
      }
     
  
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 28px;
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        line-height: 100px;
       

        display: block;
        
        
  
        i {
          padding-right: 10px;
          color: chocolate;
        }
        .white{
          color: black;
        }
       
  
        
      }
    }
  }
  .pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/public/uploads/pattern.png);
    opacity: 1;
}
